/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  background-color: #131313;
}

/* Стили для header */
header {
  background-color: #0f0f0f;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-session {
    border: 1px solid #fddd;
    width: 20px;
    height: 40px;
}

.user-info button {
  /* Стили для кнопки авторизации */
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
  background-color: #6d6d6d;
  color: #fff;
  cursor: pointer;
}


.services ul {
  /* Стили для блока сервисов */
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.services ul li {
  margin-right: 15px;
}

.create-post {
  /* Стили для блока создания поста */
  text-align: center;
}

.create-post input[type="text"],
.create-post button {
  padding: 8px 15px;
  margin: 5px;
}

/* Стили для основного контента */
main {
  margin: 20px;
}

.user-posts {
  color: #f0f0f0b0;
}


.a {
  text-decoration: none;
  color: #fff;
}

/* Стили для мобильных устройств */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-info {
    margin-top: 10px;
  }

  .services ul {
    flex-wrap: wrap;
  }

  .services ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.user-info {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: left;
  max-width: 300px; /* Укажите максимальную ширину блока, чтобы предотвратить растягивание на больших экранах */
}

.user-info form {
  margin-top: 10px;
}

.user-info a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #000000; /* Цвет ссылки */
}

.user-info a:hover {
  text-decoration: underline;
}

