/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  
    background-color: #131313;
  }
  
  /* Стили для header */
  header {
    background-color: #0f0f0f;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .close-session {
      border: 1px solid #fddd;
      width: 20px;
      height: 40px;
  }
  
  .user-info button {
    /* Стили для кнопки авторизации */
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    background-color: #6d6d6d;
    color: #fff;
    cursor: pointer;
  }
  
  
  .services ul {
    /* Стили для блока сервисов */
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    color: white;
    text-decoration: none;
  }

  .a {
    text-decoration: none;
    color: #fff;
  }
  
  .services ul li {
    margin-right: 15px;
  }

  .JDH {
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
  }
  
  h1 {
  
  text-align: center;
  
  
  }


  .user-info {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: left;
    max-width: 300px; /* Укажите максимальную ширину блока, чтобы предотвратить растягивание на больших экранах */
  }
  
  .user-info form {
    margin-top: 10px;
  }
  
  .user-info a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #000000; /* Цвет ссылки */
  }
  
  .user-info a:hover {
    text-decoration: underline;
  }


  /* Стили для блока статусов в header */
.user-info .status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
}

/* Стили для различных статусов */
.user-info .status.user {
  background: rgba(0, 255, 163, 0.70);
  color: #fff;
}

.user-info .status.plus {
  background: rgba(250, 255, 0, 0.90);
  color: #000;
}

.user-info .status.admin {
  background: rgba(255, 0, 0, 0.70);
  color: #fff;
}

.user-info .status.unknown {
  background: #ccc;
  color: #000;
}